body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 20px;
}

h1,
h2 {
  margin-bottom: 10px;
}

.calculator,
.element-selector {
  margin-bottom: 120px; /* Отступ между секциями */
}

.bars {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 120px;
  margin-top: 80px; /* Увеличенный отступ сверху */
  margin-bottom: 30px; /* Увеличенный отступ снизу */
  position: relative;
}

.bar {
  width: 50px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: bold;
  color: white;
  position: relative;
}

.bar-old {
  background-color: red;
}

.bar-new {
  background-color: green;
}

.bar-label {
  position: absolute;
  bottom: -25px;
  font-size: 14px;
  color: black;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-gap: 10px;
  justify-content: center;
  margin-top: 30px; /* Отступ сверху для блока выбора элементов */
}

.block {
  width: 100px;
  height: 100px;
  background-color: rgb(255, 147, 5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

.block.selected {
  border: 2px solid black;
}

.element-selector h2 {
  margin-bottom: 20px; /* Отступ между заголовками и блоками */
}
